[2017-04-28 14:00] lucapette opened #6 "int,1..1 crashes the program"
[code]

[2017-04-29 23:58] #6 closed

[2017-05-12 11:45] kevingimbel opened #9 "[cli] Handle unknown command"
Hey, I just discovered this project and gave it a try. Naturally I tried to run `fakedata help` because most Go programs I used have this as a command; `fakedata` without an argument however just outputs 10 empty lines which is an odd behaviour IMO.

I looked at the code and this happens because the `limit` flag defaults to 10 and [the fakedata generation runs](https://github.com/lucapette/fakedat

[2017-05-12 13:29] lucapette commented on #9
Thank you very much for trying it out!

As I was the only user of the project so far, I'm sure there are even odder things  happening. So your feedback is *gold* to me.

About the specific issue:

- I don't particularly like the idea of adding subcommands because I think it can become cumbersome over time to distinguish subcommands from generators. Moreover, I'm not sure the tool will ever need ot

[2017-05-12 14:34] kevingimbel commented on #9
I have to agree with you on this. After playing around a bit more I found it very handy to specify whatever generators I needed after each other, e.g. `fakedata --format csv name email country state` - it's quite easy to play around with data this way.

I'll see if I get the time tonight to work on it and then I'll open a pull request.

[2017-05-12 14:58] lucapette commented on #9
@kevingimbel thank you for giving it a try! You made my day :)

[2017-05-12 15:23] kevingimbel commented on #9
@lucapette YOU made my day! You're very welcoming - it's always a big step to offer contributions, especially since I'm new to Go. 😄

[2017-05-15 07:46] lucapette commented on #9
Done in #10 🎉

[2017-05-15 07:46] #9 closed

[2017-05-15 11:32] kevingimbel opened #12 "Custom SQL column names are broken"
I didn't know about the custom sql column names when I implemented the key validation! While I check for `,` inside the key, I do not check for `=` and therefore the following command fails validation.

[code]

The error is also no longer multilined.

Since there's two ways of declaring the syntax I think it might be best to extract the parameter "parsing" into its own function, maybe this functio

[2017-05-15 14:42] lucapette commented on #12
Ops we broke something :)

I remember testing  the multiline error. I agree it's a good idea to extract the parsing code to a private function and share it (I believe we may need a new type but that's fine). Would you like to take care of this? Otherwise I go ahead and take care of it. No strings attached!

[2017-05-15 14:44] lucapette opened #13 "Introduce integration tests"
#12 makes me think that it already time to introduce some higher level integration tests. I'd like to test the output of the binary but I never did this with Go so any suggestion is more than welcome. I remember reading somewhere that terraform has this kind of test. I'll do some research and report back here

[2017-05-15 14:57] kevingimbel commented on #12
I'd love to give it a try, tho I'm not sure when I get the time to do it. I'm able to do some work tomorrow on my (quite long) train ride to work - maybe I'll have a first PR ready then. Otherwise probably Wednesday or Thursday night if that's okay.

Maybe something like a `helper` type? How would we share a private function? Something like the following?

[code]

This way we could also collect th

[2017-05-15 15:08] lucapette commented on #12
sure, I think a couple of days are totally fine (I think the userbase may still be just you and me at the moment :)). Furthermore, I'm happy this happened because it pushed me for #13

About the type, sorry I think I wasn't clear. I was thinking more about something like

[code]

basically `parseSpec` would create an instance of the struct. Organising code this way makes usage of TableDrivenTests

[2017-05-15 15:33] lucapette commented on #12
Just a note: I fixed the error formatting [here](https://github.com/lucapette/fakedata/commit/85c87357add51e71c47748ce4bee33f568271e33)

[2017-05-15 16:33] kevingimbel commented on #12
I don't get what the new `spec` type is supposed to do. Would it define a set of specification and separators (`=`, `..`) that can be used for inputs? Would we parse the input into a spec to normalize it? e.g

[code]
Then work with the returned spec?

Can you specify a bit more what's your intention with the `spec` type?

[2017-05-15 17:27] lucapette commented on #12
OK, I spent some minutes on the issue and I think there's no point in introducing a new type (it's hard for me to prototype something via comments... Im finding out that today :)) as the method fakedata.NewColumns does exactly that magic for all the columns so we could _just_ use that method and skip creating a new type. Now that I look at the attributes of the spec type I was talking about, it lo

[2017-05-16 08:06] kevingimbel commented on #12
Prototyping pseudo code in comments is really hard. :D The second option makes more sense to me.

So, to clarify, we'd do the following:

- Change `NewColumns` signature to `(columns Columns, err error)`
- "add" the logic of `ValdidateGenerators` into `NewColumns`
- Remove `ValidateGenerators`
- Add the error check to main in `cmd/fakedata.go` ([here](https://github.com/lucapette/fakedata/blob/mas

[2017-05-16 08:34] lucapette commented on #12
It looks great!  Thank you so much for taking care of it!

[2017-05-19 06:34] kevingimbel commented on #12
@lucapette The PR is ready for review! https://github.com/lucapette/fakedata/pull/15

[2017-05-19 08:54] lucapette opened #16 "Explain why fakedata differs from other data generator"
Based on [this](https://twitter.com/jorinvo/status/865490163870294017) conversation

[2017-05-19 16:07] kevingimbel commented on #12
This issue has been resolved in #15 and was fixed by merge  https://github.com/lucapette/fakedata/commit/078593fafaac24960ffea017440580a2a54f4d59

[2017-05-19 16:07] #12 closed

[2017-05-19 16:11] #13 closed

[2017-05-19 22:25] gnanet opened #17 "FEATURE REQ: concatenate fields"
I know the name generators do only english names, but i wanted to generate a hungarian name order with "lastname firstname" into one field, and found out that this is currently not possible.

This also leads to a possible new feature, that a language specific dict map may be loaded run-time with a parameter :) But let me go back to the original idea

The enum function allows freely definiable data

[2017-05-21 00:05] gnanet commented on #17
oh f..k, it looks like have done it, and it survives make test, and seemingly it works,

But i did not done a fork, and i dont know how to make a pull request for my changes.

also i added a **nev** generator for enabling hungarian name order, and changed the dict.go to contain hungarian first and lastnames

[2017-05-21 01:13] gnanet commented on #17
Created #18 but seems that with editing here on github, i could not to resolve the gofmt -s problem, that is reported by travisCI.
make ci  worked for me locally, but that is a checkout of the original master of you, and i am also not experienced in git either to push my changes to my own fork on github :(

[2017-05-21 01:29] gnanet commented on #17
Closed Pull request #18 , and opened #19 this should also pass TravisCI tests

[2017-05-21 14:20] lucapette commented on #17
@gnanet first of all, thank you very much for the feature request! It's really
cool to see some real world needs.

I'm very grateful you started working on a PR but somehow sad I couldn't manage
to provide some input before you started. I'll provide some specific feedback in
the PR itself.

I've been thinking about a way to provide a `composed` generator but, so far, I
couldn't find an API that sa

[2017-05-21 18:07] kevingimbel commented on #17
I thought about this for a while after working on the validations and I believe the most dynamic/open way would be to add template support where users could actually write a template file and we parse it. Go has a great standard template engine which isn't too complex to get into (from a users point of view).

By adding template support we could also add custom function for joining generators and

[2017-05-21 18:38] gnanet commented on #17
Without deep knowledge about the mentioned template engine of Go, i would say that we should not re-implement the wheel, if we can build the  data template syntax on top of it, then we should do it so.

Btw, i for at least 1,5 hours i was not aware what the purpose of generators.golden was, i just simply followed the information it contained, and while extending generators.go, i also added the rel

[2017-05-21 18:54] kevingimbel commented on #17
@gnanet it's a good point you raised with the names. Names are hard to get right because there are so many different formats (like you said, in Hungarian it's `lastname firstname`). I believe we can come up with a good solution and the diversity you add to the project is already valuable!  :)

[2017-05-21 18:56] kevingimbel commented on #17
@gnanet also in case you want to read up on Go templates here's the package documentation: https://golang.org/pkg/text/template/

[2017-05-21 20:54] gnanet commented on #17
@kevingimbel yesterday i tried to be smart by reading the docs, but the golang docs seem dry to me like the data descriptions from the RFC about any internet protocol. I think i can learn better trough examples, but i will surely find my way ;)

Right now an idea also came into my mind, that a separate ticket should be opened about the functionality and purpose of .fakedatarc

[2017-05-22 06:43] lucapette commented on #17
@kevingimbel I'm not sure I understand how your suggestion would work in practice. I don't have a strong opinion on the syntax we use but I'd like to keep the API on the commandline as simple as possible. If what you're proposing is harder to implement but easier to use for the end user then we shouldn't care it's harder to do :) Do you mind sharing some example of how your proposal would look lik

[2017-05-22 07:21] kevingimbel commented on #17
@lucapette I made a quick-n-dirty go snippet to showcase the template approach. https://play.golang.org/p/5qQYBqnWax

The todos would basically be:
- Implement a Template mechanism around  `text/template`
- Implement template helpers (`lowercase, join, split, etc.`) and make all generators available inside templates
- Document (advanced) Template usage

The CLI usage would still stay the same beca

[2017-05-22 07:33] lucapette commented on #17
@kevingimbel thank you for the example. It does look like a lot of work but if we can justify it I don't mind. I do like the idea of providing a more powerful API for those that need to create more complex random data set while keeping the everyday usage of the CLI as easy as today.

Anyway, I'm still not sure how you'd like users to use templates from a CLI perspective. What do you have in mind?

[2017-05-22 07:39] lucapette commented on #17
About the ability to inline generators. I wasn't thinking about rewriting the existing API. I really like the simplicity of the current approach: `fakedata email ip` looks great to me. What I was trying to suggest was a way to leverage your proposal from the CLI too as a column so we can do things like `fakedata inline,"uppercase .Firstname"`. Which would look great for the avg use case (in a way

[2017-05-22 11:20] kevingimbel commented on #17
I, too, would like to keep `fakedata` simple and straightforward. The default should stay with generation to stdout, so `fakedata email ip` works as expected and keeps working.

For this reason I would introduce a sub-command, `fakedata template` (or `compose`, `source`, `file`, ...) with `--in` and `--out` as options. If `--out` is not defined we write to stdout, if it's defined we create a file,

[2017-05-22 11:54] lucapette commented on #17
@kevingimbel ok you convinced me :) I like the workflow too.

A few notes:

- Let's ignore the inlining for now. I agree  it can get messier so I'd say we give it another try once the feature is stable
- I think we could do without the subcommand compose. Like in `fakedata --in file.tmpl` and  have a check that says "You can either use --in or generators args". Not sure I'm explaning myself the be

[2017-05-22 13:23] kevingimbel commented on #17
Looks good to me! I'm a huge fan of piping output on the CLI, so `echo "{{.Name}}" | fakedata` is a thing I would like to have. I've no idea how this is done with Go but I am sure there is a way to read from `stdin` / check if something is written to `stdin`.

As for the output redirection with `fakedata --from-template=file > output.xml` I only see one issue and that's an issue we have now, too:

[2017-05-22 13:36] lucapette commented on #17
@kevingimbel I've looked into detecting stdin a while ago but I don't remember the details right now, we can do it in a separate PR once we've got the feature.

I think you have a good point about the error. I'll do some research about how other CLI handle the issue, right now it's not a big issue as I think it'll take a while before we land the feature in master. I'm very happy to hear you'd like

[2017-05-22 13:45] gnanet commented on #17
Guys, as you may see i do lot more at night/evening at least in CEST zone. I will have to read all trough, but the idea to keep things still simple, while adding a lot more complex templating feature. This goes beyond my simple expectations, but i find, it will be good adventure into golang for me.

[2017-05-22 13:50] lucapette opened #20 "--format should return an error if the format isn't known"
Right now, we do not check if the input format is known. That leads to a strange interaction:

[code]

We default to the space separated format, therefore the current behavior. It's rather odd (and hard to notice) if the command has a small typo. Example:

[code]

The output contains spaces instead of tabs because the input format was `tav`.

[2017-05-22 13:58] lucapette opened #21 "Unix timestamp"
As specified [here](https://en.wikipedia.org/wiki/Unix_time). I think it'd make sense to accept a range of dates but I'm not sure yet about what's the best format. Right now we parse dates in the format `YYYY-MM-DD` which is a good starting point but it doesn't contain time information.

[2017-05-22 14:01] lucapette opened #22 "UUID generators"
As specified [here](https://en.wikipedia.org/wiki/Universally_unique_identifier). We can (should?) support the multiple versions available and follow the naming of the ip generators: `uuidv1`, `uuidv2` and so on.

For this generator, it may make sense to do some preliminary research to find a library we're comfortable with to add as a dependency.

[2017-05-22 14:04] lucapette opened #23 "More date formats"
Right now, we have only a `date` generator for the format `YYYY-MM-DD`. I'd use this issue to collect more formats and (probably?) add more date formats all at once.

[2017-05-22 14:12] lucapette opened #24 "Introduce testutil package"
In other Go projects, I'm enjoying having a package `pkg/testutil` with test helpers. It helps polishing the testing code and encourages more testing (which is hardly a bad thing). To get it started we could introduce a `testutil.Diff(a, b interface{}) err` and use it wherever we make use of `github.com/kr/pretty`.  Right now we use it in the integration tests only but if we have it in a package t

[2017-05-22 14:21] lucapette opened #25 "bash/zsh completion"
As `fakedata` is a CLI tool, auto-completion would make usage much more enjoyable. I suggest we provide an option that outputs the completion function. Something like:

[code]

so that we can ask users to add `eval $(fakedata --completion)` (I'm not sure it's the best API, suggestions, as always, more than welcome).

While doing some quick search around the topic I run into [complete](https://gith

[2017-05-23 10:15] lucapette opened #28 "Move flag variables inside main function"
Having flags as global variable isn't a good practice and I've been wanting to move them for a while

[2017-05-23 10:32] jorinvo opened #29 "Update docs for enum to explain usage for fixed values"
fakedata is working great so far! Thanks for creating it!
Just a  small thing to add:

I'm using it to generate some SQL. One column should be the same for all rows.
Right now I pass `id=int,12345..12345` to limit the range to only this number.
Would be nice if I could also just do `id=int,12345`.
Also, if I like to do the same thing for a string value, there is currently no way to do so, right?

[2017-05-23 12:33] kevingimbel commented on #29
So what you actually want is a fixed "repeat" generator? Where one value is repeated over and over again?

At the moment you can fake this by using the `enum` generator similar to how you used the int generator:

[code]

Could you work with the `enum` generator? Or would you suggest adding a fixed generator like `repeat` (`fakedata repeat,string repeat,12345`) which takes an argument and repeats i

[2017-05-23 12:51] jorinvo commented on #29
Thanks for pointing out enum! That's totally enough for strings I think.
No need for `repeat` in my opinion.
Surprisingly (haven't looked at any source code so far) `enum,mystring` works while `int,123` does not. So adding support for single values to `int` would be the only thing :)

[2017-05-23 12:59] kevingimbel commented on #29
For the `int` generator a single argument is the min-value, so `int,123` works and creates values above 123.

You could use `enum` for numbers instead of `int` which gives the same result.

[code]

[code]

Maybe it's more of a documentation thing then. If `enum` is able to handle fixed values this could be documented in the README as a feature for fixed, repeated columns.

What do you think @lucap

[2017-05-23 13:07] jorinvo commented on #29
You're right @kevingimbel. Actually it's enough already. The generated value being a string is not a problem since SQL can still handle the INSERT.

As you suggest, improving the docs would "fix" this issue :)

[2017-05-23 13:14] jorinvo opened #30 "generators from corpora"
`dictionary` could return a random word from an English dictionary (or a top 1000 words list).
Along with this there could be `dictionary.noun`, `dictionary.verb`, `dictionary.adjective`.

[2017-05-23 14:28] lucapette commented on #29
At some point I thought of adding a `const` or `repeat` generator but I agree it feels unneeded and the doc fix would do. Thank you so much for your contributions! They really help. I go ahead and merge the PR.

[2017-05-23 14:29] #29 closed

[2017-05-23 14:32] lucapette commented on #30
Oh I really like the idea of having the dotted generators! I'm wondering how to source them though. We'll need to do some little research about a dictionary. Then we can embed it in the binary with [go-bindata](https://github.com/jteeuwen/go-bindata), I used it often and it's nice. Would you like to give it a try @jorinvo ? If so I assign the issue to you. No strings attached though! I'll have som

[2017-05-23 15:08] jorinvo commented on #30
This looks interesting: https://github.com/dariusk/corpora
Public domain.
I guess we could include more categories than just the above mentioned.
`dictionary` without sub-category is not that useful, I think.  And a category like `noun`, `verb` is not much different than existing generators like `color`, `country`, `product.category`.
Maybe we can add them top-level instead?

There are many other

[2017-05-23 15:32] lucapette commented on #30
I think I'd split the problem in parts (the usual "divide et impera"):

- We figure out how to import/embed data (and from where)
- We figure out how to organize the naming of the generators
- We start adding new generators.
- We refactor existing generators like `color` and `country` so that they are sourced by corpora

Possibly I'd do the first two steps in a PR and _just_ open issues/adding new

[2017-05-23 22:58] gnanet commented on #30
Can i ask for loadable dictionaries, so there is a small possibility to use other dictionaries that english?

[2017-05-24 05:35] kevingimbel commented on #17
@gnanet would you like to give templates a try? Otherwise I'll start working on it in the coming days. :)

[2017-05-24 05:37] lucapette commented on #30
@gnanet sure you can! But I believe it makes sense to discuss it in a separate issue, I think the feature may have a similar behavior but it needs a different user interface.

[2017-05-24 05:44] kevingimbel opened #33 "More top-level domain generators"
I think it makes sense to have more top-level domains added to the generator, especially the new once like `.codes`, `.academy`, `.website`, etc.

Depending on what you're using the fakedata for it's good to have the diversity of the new, longer tlds. The old domain validation patterns (e.g. checking for length 2-4 characters) don't work on new tlds so having them in fakedata could provide a benef

[2017-05-24 05:48] lucapette opened #34 "Load a list of words from a file"
The discussion started [here](https://github.com/lucapette/fakedata/issues/30#issuecomment-303556059). Thanks to @gnanet to bring this up.

The first approach that comes to mind is to use a small convention based on the name of the input file (without the extension) for the generator name, moreover I think it makes sense that this particular option is repeatable. For example:

[code]

I like it! A

[2017-05-24 05:55] lucapette commented on #33
I agree! While I think we may want to use #30 in the long run, I don't think it's worth waiting for the discussion to happen. I can go ahead and take care of it if you want!

[2017-05-24 07:50] kevingimbel commented on #33
I personally don't need this feature fast. If we can cover it in #30 that's good for me. 👍

[2017-05-24 09:16] jorinvo commented on #30
_dariusk/corpora_ seems like good place to start with.
I was looking again into go-binddata. It seems to be not maintained for two years already.
Maybe we can just convert the JSON to Go code manually once.
I think binary size, memory size, execution time are not an issue even if we have it as code in our program. As far as I know, the system only loads the code once you access it. And in the bina

[2017-05-24 09:24] jorinvo commented on #33
https://data.iana.org/TLD/tlds-alpha-by-domain.txt

[2017-05-24 13:00] lucapette commented on #33
@jorinvo thank you for the list. I'll bring it in. I'll comment in #30 how I'd like to proceed.

@kevingimbel I'll take care of it then :)

[2017-05-24 13:21] lucapette commented on #30
I know go-bindata isn't maintained anymore but, to be fair, I've been using it a lot and had no real issues with it. But your suggestion of just keeping everything as go code is very appealing to me, the project remains go gettable and that's pretty nice. So I'd say we proceed as you say.

I buy your point of skipping the parent namespace. And thank you very much for the suggestion, sometimes the

[2017-05-24 13:43] jorinvo commented on #30
Sounds perfect!
You can do the _reorganizing thing_ first.
After, we can look into adding new content.

[2017-05-24 16:32] gnanet commented on #34
this "from file" would represent an enum like solution, and the only problem i would see, is that we already have "reserved words" that may conflict, if i would use name.txt for example

But this would work in my case for szinek.txt which in turn would contain color-names in hungarian, and varosok.txt for city names, but also i could have a rather long list of roomtypes, where i could simulate a l

[2017-05-24 16:37] jorinvo commented on #34
Why not but the `from-file` part into a generate instead of a flag?

would be

`$ fakedata -l=2 file,file1.txt file,file2.txt`

[2017-05-24 17:11] lucapette commented on #34
@gnanet the only concern you have is valid but, and this is really **great**, I think @jorinvo's suggestion makes that go away.  If any of you would like to give this feature a try, please let me know and I assign it accordingly. Otherwise, it's the first feature on my personal list after #33. It's another awesome addition to fakedata! Thank you very much for participating in the discussion

[2017-05-24 17:36] gnanet commented on #34
I support the solution of the **file** generator in this way.

But i have questions: what systems does fakedata build on currently? If we allow files, do we allow relative/absolute paths, or only same-location files? If we allow paths, we need to take care of space-containing paths or filenames?

[2017-05-24 17:58] lucapette commented on #34
@gnanet right now we releases binaries for win/linux/macos 64 bit only (you can download/see the releases [here](https://github.com/lucapette/fakedata/releases/tag/v0.5.0)). As we don't really have a user base yet demanding for anything more specific I literally went for [goreleaser](https://github.com/goreleaser/goreleaser) defaults.

By default absolute paths + current directory sounds like a go

[2017-05-24 18:00] jorinvo commented on #34
The Go standard library handles paths pretty well. Can support relative and absolute paths. If you have spaces in it, you can put the whole path in quotes:
`$ fakedata -l=2 file,'../mean dir/data/file1.txt`

[2017-05-24 18:01] lucapette commented on #34
@jorinvo oh I didn't know it would support relative/absolute paths automatically. Good news (and it's obvious I'm still new to most parts of the standard library which makes this project even funnier to work with for me :))

[2017-05-24 18:06] jorinvo commented on #34
@lucapette https://play.golang.org/p/ssfzhfvp2F

[2017-05-24 18:11] gnanet commented on #34
I hoped for the answer of @jorinvo that with the right quoting, and the behaviour of the Go standard libs we will have no issues other than checking the exsistence, readability of the files, and maybe we will need to be prepared for the newline variants of the win/lin/mac (this is one thing why i was asking ;) )

[2017-05-24 21:55] lucapette opened #38 "Convert var gen = func(c Column) string form to func gen(c Column) string"
As of today, we declare generator in a bit of an [unusual way](https://github.com/lucapette/fakedata/blob/master/pkg/fakedata/generator.go#L108). Conversation started [here](https://github.com/lucapette/fakedata/pull/37/files#r118372897)

[2017-05-26 12:59] lucapette opened #39 "New syntax for constraints"
Based on a conversation we had on [slack](https://gophers.slack.com/messages/C5JLJLMC6/). @jorinvo proposed we change the way constrains/range (we should probably just call these "options" so that it's generic enough to work for different generators) this way:

[code]
I think it looks great and I'd proceed right away. The feature requires us to:

- [x] Change to the way we parse the data
- [x] Ren

[2017-05-26 13:01] lucapette opened #40 "Mention slack channel in the README"
Thanks to @jorinvo we now have a slack channel and it's worth mentioning in the README so people that have high interest in the conversation can join

[2017-05-26 13:51] #40 closed

[2017-05-26 15:22] lucapette commented on #34
@gnanet the feature just landed on master so I'm going to close this issue. I'll be pushing a new release soon (I'd like to have #36 in too before I do). If you're not able to test the feature before I push a new release out (you can test it with go get) I can ping you when we release a new version

[2017-05-26 15:22] #34 closed

[2017-05-26 15:35] gnanet commented on #33
@lucapette i have the project on watchlist, i get every change into my mailbox :)

[2017-05-26 15:53] #33 closed

[2017-05-30 07:23] lucapette commented on #39
Just started working on it! All the tests are failing 🎉

[2017-05-30 11:31] lucapette opened #44 "v1.0.0"
#43 is an exciting change to `fakedata` UI but, as @kevingimbel pointed out, it's a breaking change and we agreed it's a good idea to aim for a first stable version.

Here is what i have in mind at the moment:

- [x] [New syntax for generators](https://github.com/lucapette/fakedata/issues/39)
- [x] [Proposal: Template functionality](https://github.com/lucapette/fakedata/issues/45)
- [x] [Validatin

[2017-05-30 21:58] gnanet commented on #17
The subject of my issue got far from to what it is evolved, do you think it would be wise to change the subject at least to better reflect the changes it started in the project?

[2017-05-31 09:05] kevingimbel opened #45 "Proposal: Template functionality"
# `fakedata` template specs

## Synopsis

Despite being powerful already, `fakedata` will benefit from a template mechanism. With the underlying Go template engine we can implement a easy-to-use template mechanism which allows users to generate fake datasets in all kinds of formats, regardless of build-in formatters like `sql`, `csv`, et all.

Go Templates allow to combine values with `printf` so

[2017-06-01 11:27] kevingimbel commented on #45
Small Update: I started to work on the template thing yesterday and got a (very early) version to work. I'll keep developing it in my branch.

As of now it can handle templates like these:

[code]

[code]

The Generators are currently (all) available via `{{ Generator "genname" }}`, tho this is a horrible API IMO. Some of the generators that take extra arguments need to have their own functions, l

[2017-06-02 09:51] lucapette commented on #45
@kevingimbel I'm sorry it took me a couple of days to reply (busy times!) and I feel a bit bad about the fact I'm not sure this is the right direction. The thing is: I'd like to keep the API as simple as possible and the fact we will have a `range .` and look inside the template makes the simplest format harder to write.

I've looked briefly at https://github.com/peteraba/fakie and the format seem

[2017-06-02 11:10] kevingimbel commented on #45
Thank you for your feedback!

As far as the implementation goes this is true. I am not happy with the fact a loop is required inside the template yet, it was simply the fastest approach.

I hope so! I am not yet sure how this would work but it's on my "list". Maybe we can tweek the template implementation so that it will loop when a) `--limit` is set or b) there's no `range` inside the template -

[2017-06-03 16:53] lucapette commented on #17
@kevingimbel @gnanet I'm closing this one as we're discussing it in #45

[2017-06-03 16:53] #17 closed

[2017-06-03 17:21] #20 closed

[2017-06-03 17:22] lucapette commented on #28
Done in #46

[2017-06-03 17:22] #28 closed

[2017-06-03 17:22] jorinvo commented on #45
Hi,
I like what you have so far!

- I think the `range` functionality doesn't really need any special treatment. The default can stay as it is, generating lines of output, and When someone likes to control the looping manually because there is more going on as in the HTML example above, then a `--limit 1` should be enough to restrict the template to be only used once and the looping can be done wi

[2017-06-03 17:31] lucapette commented on #45
@jorinvo I don't think I understand what you mean about the `range` functionality. `--limit 1` sounds like we'd be hacking the options :)

@kevingimbel

Loop by default is the only thing I have a strong opinion about. It's a much simpler/better user experience that way so I can't agree more. Detection of range doesn't sound that easy but, if it's possible, that's a great feature.

Not sure I fully

[2017-06-03 17:46] jorinvo commented on #45
Sorry, maybe an example is more clear:

`echo '{{range Loop 3}} {{name}} {{email}}{{end}}' | fakedata -l 3`

That would output 9 lines:

[code]

And this one 3:

`echo '{{range Loop 3}} {{name}} <{{email}}>{{end}}' | fakedata -l 1`

[code]

I can use the second example, if I like to handle all the looping myself.

For each "line" `fakedata` generates, I can still call as many generators in the tem

[2017-06-03 17:59] lucapette commented on #45
I see! Thank you for the much more detailed explanation! Very much appreciated.

I think this would be too much overhead on the user (and it exposes the internals of Go templating too in a way). For simple use cases like:

[code]

I really think users should be able to write:

[code]

The basic idea is that in most cases (maybe a personal opinion, I'm not so sure about it), users won't need to con

[2017-06-03 18:04] jorinvo commented on #45
The first example you gave will yield 9 lines. The second 3.
Also, only because the first one is possible, it doesn't stop the user from still using the second version.
And `range` is not a *feature* we need to implement. It's just there, already included in the template package.
What I try to suggest here is, that we don't need to do anything special about `range`. The way it already exists works

[2017-06-03 18:17] lucapette commented on #45
@jorinvo I'm not following you then. Because all your examples do use a `range` keyword and my point is: by default we should ask users to come up with such a complex template. If what you're saying is that `range` **always** needs to be part of the template, then we just disagree on how the feature should look like :)

I know range is part of the Go syntax and I think that may be the source of co

[2017-06-03 18:21] jorinvo commented on #45
That's basically what I'm saying. There is no need to use `range`.

My argument was about the issue of adding extra flags / ways of detecting if `range` is used or not.
I think that the combination of `range` and `--limit` allow for all possible customization a user might want to do and we don't need to add any extra functionality here.

[2017-06-03 18:26] lucapette commented on #45
@jorinvo 👍

"communication is hard" :)

[2017-06-06 12:42] kevingimbel commented on #45
Quite some input! Thanks @lucapette and @jorinvo.

What I get out of the discussion is the following:

- Use `--limit` for template looping (default)
- Document use of Go template `range` and `--limit 1`
- Find a way to generate `FuncMap`
- Read from  `Stdin`

[2017-06-06 12:44] lucapette commented on #45
@kevingimbel 👍  as it's a lot of work I'd take out reading from stdin from the first take but not saying no to it if you feel like we can do it in one big PR :)

[2017-06-06 12:47] jorinvo commented on #45
I think `ioutil.ReadAll(os.Stdin)` is even simpler than adding a new flag to specify a file, validate it and read the file's content :)
Or would you like to support both ways?

[2017-06-06 12:50] kevingimbel commented on #45
@lucapette @jorinvo I'll look into reading `os.Stdin`. I think it is not too complex after all. :)

[2017-06-06 12:55] lucapette commented on #45
@jorinvo @kevingimbel I wasn't specifically talking about the production code but more all the things around building it (docs, integration tests, and so on).

Reading from stdin per se is not that hard, I agree. If we support both ways (pipe and argument) then we'd need some automated detection of input coming from stdin (right? I don't think I'm complicating it but maybe I'm missing something).

[2017-06-06 13:51] jorinvo commented on #45
I agree, if you plan on supporting both, it's probably simpler to only implement one first.

[2017-06-07 09:54] kevingimbel commented on #45
*Update*: CLI pipelines and templates work now. By default the `limitFlag` is used and the template is executed multiple times. If a range inside the template is needed there's a `Loop` function.

I added a few comments to the commit to explain a few changes, see:  https://github.com/lucapette/fakedata/commit/5508aa15866493bc97c9325dcb0317564f2a7e95

Well the biggest change is that I opted in for

[2017-06-07 09:57] kevingimbel commented on #45
You may have seen that the Travis CI build is still failing. I'm on it. 😅 https://travis-ci.org/lucapette/fakedata/jobs/240295071

[2017-06-07 11:07] lucapette commented on #45
@kevingimbel this is looking pretty promising! Do you mind opening a PR already and mark it as wip? I think I'd get a better sense of how to plan shipping it in the context of #43 and #48 (seems hard!

[2017-06-08 15:29] kevingimbel commented on #45
@lucapette I created a pull request, see #49

[2017-06-14 08:51] kevingimbel commented on #44
@lucapette How do we handle documentation? All inside the README.md for now? Or should we add a Wiki to the project?

I would like to start documenting the new template feature but I don't know where to put it.

[2017-06-14 09:07] lucapette commented on #44
@kevingimbel I would keep it in the README for now. I suggest you add a section about templates in the readme. As soon as we land all the features we have been working on, we'll rethink it a bit because we're outgrowing the current structure (which is great!)

[2017-06-23 07:29] kevingimbel commented on #45
Closing this issue because the PR has been merged. 🎉

[2017-06-23 07:29] #45 closed

[2017-06-23 07:29] kevingimbel commented on #44
@lucapette I checked the Template functionality off the list since it's been merged.

Now what's open is the "Explain why fakedata differs" part.

[2017-06-23 09:20] lucapette commented on #44
@kevingimbel thank you for taking care of it! I'm working on making the template feature work together with #48 it's not the easiest merge :) As soon as I'm done with that I open a pr for the reorganization of the README and then we cut the v1.0.0. Nice release coming!

[2017-06-23 09:21] lucapette commented on #44
@kevingimbel thank you for taking care of it! I'm working on making the template feature work together with #48 it's not the easiest merge :) As soon as I'm done with that I open a pr for the reorganization of the README and then we cut the v1.0.0. Nice release coming!

[2017-06-25 21:22] lucapette commented on #38
We've done this a while ago!

[2017-06-25 21:22] #38 closed

[2017-06-25 21:23] lucapette commented on #30
As this was done in #47 (thanks @jorinvo !!!) I'm closing this one. I'll create a new issue so we can discuss (and collect some feedback) about what to import

[2017-06-25 21:23] #30 closed

[2017-06-25 21:42] lucapette commented on #39
Done in #48

[2017-06-25 21:42] #39 closed

[2017-06-25 21:43] lucapette commented on #44
I've just shipped #48 to master with a disclaimer in the docs about the breaking changes. I'll open a PR about the re-organization of the readme and then I say we're good to go for version 1.0.0!

[2017-06-26 07:25] kevingimbel commented on #44
@lucapette big up! These changes look really good. :)

[2017-06-27 13:12] lucapette commented on #44
I pushed a draft of the new README #50 so we can start discussing there. I added a final check point to this issue so we can discuss which generators we intend to support in version 1.0.0. But I think it's better we do that in a separate issue. I'll take care of creating it!

[2017-06-27 13:28] lucapette opened #51 "Generators to add/remove"
So far we never had a conversation about which generators make sense for version 1.0.0 and while working on #50 I realised it's a good time to change that. Right now most of what we did is either inherited from [phony](https://github.com/yields/phony) or imported (as an example) from [corpora](https://github.com/dariusk/corpora). In practise, we have the following generators:

[code]

I would like

[2017-06-28 10:32] jorinvo commented on #51
Since nouns are already in there adding adjectives and verbs would also be nice:
https://github.com/dariusk/corpora/blob/master/data/words/adjs.json
https://github.com/dariusk/corpora/blob/master/data/words/verbs.json

Also fun, but probably less useful, would be to have this list of programming languages:
https://github.com/dariusk/corpora/blob/master/data/technology/programming_languages.json

[2017-06-28 16:24] lucapette commented on #51
@jorinvo  I like that too. So I'll add them to the list. I'm assuming you're fine with what I'd like to remove? If so I'll go ahead and take care of this

[2017-06-28 16:33] jorinvo commented on #51
yes, sounds good :)

[2017-06-28 17:55] lucapette commented on #51
@jorinvo I couldn't add verbs and programming languages with the import code we have as the JSON doesn't follow the convention of the rest of the repository (maybe we should open an issue on the project and discuss that. Having a convention there helps a lot with automation) but since they're addition I think we can add them even when 1.0.0 is already out.

The changes are in #52

[2017-07-01 16:12] #51 closed

[2017-07-01 16:32] #16 closed

[2017-07-01 16:34] lucapette commented on #44
Done! I've just released version 1.0.0. Very happy with what we have! 🎉

[2017-07-01 16:34] #44 closed

[2017-07-03 07:08] kevingimbel commented on #25
**Some resources:**
*Bash Completion Overview*: Intro on the topic and what't the behaviour https://debian-administration.org/article/316/An_introduction_to_bash_completion_part_1

*Bash Completion Implementation Details*: How to implement auto complete https://debian-administration.org/article/317/An_introduction_to_bash_completion_part_2

[2017-07-31 07:24] kevingimbel commented on #22
[satori/go.uuid](https://github.com/satori/go.uuid) seems to be the [most stared library for UUID generation in Go](https://golanglibs.com/top?q=uuid). It supports v1-v5 and seems to be rather "simple" to use.

I'd give this a try, especially because of the many stars compared to other libs.

[2017-08-01 11:57] lucapette commented on #22
@kevingimbel thank you for researching. I'll have some slack time in a week or so and can take care of it. But, as always, if you'd like to give it a try please go ahead :)

[2017-08-01 13:00] kevingimbel commented on #22
@lucapette I'm currently quite occupied with work and moving to a new flat soon, so I think I'll pass this time. Once things calm down a bit I'd like to do one of the other generators. :)

[2017-08-01 13:01] lucapette commented on #22
@kevingimbel ok, no worries! And good luck with the move. That's always hard!

[2017-08-01 13:53] kevingimbel commented on #22
Thanks!

[2017-08-05 19:56] kevingimbel commented on #25
I assigned myself because I started to fiddle around with a idea I've had.

[2017-08-05 20:03] lucapette commented on #25
@kevingimbel 👍 awesome!

[2017-08-09 07:18] lucapette opened #54 "Configure AppVeyor"

[2017-08-15 06:52] kevingimbel commented on #25
Closing this issue because the feature was merged with PR #53

[2017-08-15 06:52] #25 closed

[2017-08-15 16:56] gmile opened #56 "Support lower / higher bounds in range loop"
Right now the following template will always produce a sequence of 5 numbers:

[code]

It'd be great to have an ability to specify a lower and higher bounds, so that `range Loop x y` would generate a sequence of random length:

[code]
On each iteration specified by `-l 5`, `{{ range Loop x y }}` would produce a random number between `x` and `y`, inclusive, and loop that many times.

[2017-08-15 17:03] gmile opened #57 "Support concatenating items when using range loop"
I'm facing a difficulty when generating JSON arrays by means of templates.

In the following example it's not possible to generate a valid JSON array, because of the trailing coma:

[code]

If only there'd be a way to concat items before outputting them. Something like this would work great:

[code]

Above, by specifying another argument in `range`, it'd be possible to define a string that would b

[2017-08-15 17:37] gmile opened #58 "Support defining custom helpers in templates"
### Proposal

It would immensely help to have an ability to define custom helpers in templates. Custom helpers could be used across the template by referencing the custom helper name anywhere in the template.

Helper specification:

* a helper definition would look like this:

[code]

* it would be defined directly in the template:

[code]

* when rendered, the helper itself would resolve to an em

[2017-08-16 07:47] kevingimbel commented on #57
Hi @gmile. This is a very good issue report, thank you very much!

I originally intended to have a `{{ Last }}` and `{{ First }}` function for templates for this exact use case but couldn't implement them (yet). The problem I faced was that I needed to pass the current iteration, e.g. `{{ Last $i }}`, which was not a nice API.

I'll give this some testing and think about a way to implement either

[2017-08-16 08:05] kevingimbel commented on #58
This is a good idea in my opinion. Generally speaking I believe custom functions / helpers will be helpful. I remember we had the same problem with Names because in Hungary the Name shema is `Lastname Firstname` compared to `Firstname Lastname`.

@lucapette What's your opinion here?

[2017-08-16 10:21] lucapette commented on #58
First of all, @gmile thank you very much for such a detailed issue. This is really a great contribution already.

I agree with @kevingimbel this is a good idea. As he said, it's not the first time this was requested but at the time of the first conversation we did not have templates yet so this bit went somehow lost.

I like the `define` syntax proposed but I'm not sure I'd like fakedata to suppor

[2017-08-16 10:23] lucapette commented on #57
@gmile thank you! Awesome explanation!

@kevingimbel I'm very grateful you self-assigned this one and will look into it. It's so cool to see there's a real world need for the `Last` `First` function we've been discussing in the past!

[2017-08-16 10:33] kevingimbel commented on #56
I think a Substring-like function may be a better fit here. Something around the lines of this demo: https://play.golang.org/p/vl69PmPTXx

The usage would be something like:

[code]

2 would be the minimum, 7 would be the max number of characters, `Int 9999999` would generate a random big number on each run which `Substring` would cut to a number which is 2 to 7 characters in length.

Not sure yet

[2017-08-19 12:21] gmile commented on #56
I _think_ `{{ range Loop 2 7 }}` may be more generic and cover more cases, please correct me if I'm wrong.

In my case I'm working with generating a JSON object a key of which points to an `array` value. That array may contain 1+ items. I need to generate an array of random size, of 1 or more items.

Here's how _I think_ this could look like:

[code]

[2017-08-19 15:12] kevingimbel commented on #56
@gmile Indeed, it does follow the pattern of `{{ Int }}`. I think this is the right direction to go if we want to support "randomized" looping.

[2017-08-19 16:09] gmile commented on #56
@kevingimbel oops, I just realized I should have referred to you, in my reply, but instead I mentioned Luca. Sorry about that!

[2017-08-20 09:47] kevingimbel commented on #56
@gmile No worries, I subscribe to all issues and read almost everything 😀

I'll see about implementing a demo/prototype if I get the time. :)

[2017-08-21 07:48] gmile commented on #56
@kevingimbel I've opened https://github.com/lucapette/fakedata/pull/61 with the minimal patch to get this working. I don't know go very well, so my code is likely far from being idiomatic. I'd love to have some guidance on how to make it better.

My main question though is how do I add tests for this. I figured current implementation of `range Loop` is not covered with tests? I was unable to find

[2017-08-21 08:13] kevingimbel commented on #56
@gmile thank you! The PR looks good on first sight.

Tests in Go are written in a file ending in `_test.go`. For `template.go` you'd write your tests into `tempalte_test.go` but we don't have template tests at the moment (not sure why, @lucapette may know more).

---

For fakedata we use [Table Driven Tests](https://github.com/golang/go/wiki/TableDrivenTests), which looks like this:

[code]

For e

[2017-08-21 08:42] gmile commented on #56
@kevingimbel wow thanks for a such a thorough response! I'll have to carefully read it later today, but quick glance all makes sense.

From what I understand, you describe a case where `expected_result` and `actual_result` are given upfront. Then by applying a function under test, in your case it's `fakedata.SeparatorFormatter` (?), we check that equality between `expected_result` and `actual_resu

[2017-08-21 10:13] kevingimbel commented on #56
@gmile You're more than welcome! I'm myself fairly new to Go but I like sharing the knowledge I gained whenever I can. Luca helped me a lot with tests and Table-Driven Tests :)

That's correct. We have a [slice](https://blog.golang.org/go-slices-usage-and-internals) which is a set of tests we define. They have a `name`, `input`, and `want` result (e.g. a `bool` or specific output). The `name` is o

[2017-08-21 14:12] lucapette commented on #56
@gmile that wouldn't _really_ test the only thing we don't test already. So if you look at how the test suite is organized, we do test that things are glued together correctly. I think it gets a bit philosophical at this point but I don't mind :) The thing is that I'm no big fan of unit level testing (where unit means testing "one thing with on dependencies") because in reality a green test of thi

[2017-08-23 15:30] gmile commented on #56
@lucapette thank you for laying out your vision in a long form, I don't mind that at all! This is indeed a philosophical topic.

My vision regarding tests aligns with yours in that integration tests are vital and absolutely essential.   I see no replacement to them. I prefer having only a handful of critical integration tests that cover particular big happy & negative cases. That is to ensure the

[2017-08-23 15:35] gmile commented on #56
@lucapette what do you think can be done about #61? What tests should I cover it with, if any?

[2017-08-25 06:26] lucapette opened #62 "Require go 1.9"
- [ ] Remove `grep -v /vendor` from makefile
- [ ] Add` t.Helper()` at the start of all test helpers
- [ ] Update docs mentioning the min `1.9.x` requirement
- [ ] Update travis-ci configuration

[2017-08-27 12:05] lucapette commented on #56
@gmile sorry for getting back to you so late! It was a busy week.

I'm enjoying this conversation a lot, and I feel we have a similar way of approaching tests. Your suggestion is indeed *exactly* what I would cover in the integrations tests for #61. The short term solution would be to use `range loop 1 1` so that the output is stable. We're always using the same trick for the rest of the integrati

[2017-09-21 07:10] oltoko opened #63 "Getting runtime error while want to see help for 'date'"
# Description
I want to see the description of the date generator and it gives me a runtime error!

# Steps To Reproduce
Use Version `v1.1.0` of fakedata installed with `brew install lucapette/tap/fakedata` on macOS 10.12.6.
Type `fakedata -g date` into a Terminal.

# Expected result
The description of the date generator

# Actual result
The following was printed in the Terminal:
[code]

[2017-09-21 07:13] lucapette commented on #63
@oltoko thank you for such a great report! I'll try to get to it as soon as I can!

[2017-09-21 07:25] kevingimbel commented on #63
@lucapette I took a quick look and it seems to be related to generators which take arguments.

[code]

[code]

[2017-09-21 08:44] #63 closed

[2017-09-21 08:47] lucapette commented on #63
@oltoko I just released `v1.1.1` that fixes this bug. thank you so much for reporting it!

[2017-09-21 10:43] oltoko commented on #63
It worked! This was an instant fix, thank you very much!

[2018-02-05 08:54] #56 closed

[2019-01-18 13:33] yloiseau opened #67 "Empty values when reading from a file"
When reading values from a file, if the last line ends with `\n` (which is often the case), and empty value is generated.

For instance:
[code]

but

[code]

The file can't therefore be generated using another command. For instance

[code]

since every such command (or even editor), and `fakedata` itself, add a `\n` on the last line.

[2019-01-20 00:04] kevingimbel commented on #67
I added some code to remove new lines and empty values but maybe that's a bit too much.

I'm not sure yet if it is a use-case but maybe someone wants empty values? The new code would remove all new lines and empty values. https://github.com/lucapette/fakedata/blob/588edff8e595b8f98aaffac3eaa4965e820bac8c/pkg/fakedata/generator.go#L191-L195

I'll sleep on this.

_ping @lucapette for discussion_ :)

[2019-01-20 09:56] lucapette commented on #67
@yloiseau thank you for the fantastic report! @kevingimbel thank you so much for being active on the project despite how busy you're at the moment. I took some time this morning and pushed a #68 which, based on my understanding, fixes the problem presented here.

I also updated one of our integration tests to expose the fix, so I'm kind of confident this works. If you're able to test the PR, it wo

[2019-01-20 14:14] lucapette commented on #67
@kevingimbel I dont have the right setup so thank you for bringing it up. I cut a new release with the current fix and, if you wanto, we'll fix it for windows also whenever you get some time to also test it there?

[2019-01-21 07:47] #67 closed

[2019-01-21 12:47] KevinGimbel opened #69 "Windows Support"
`fakedata` may or may not have some issues working with Windows and the Windows file system (e.g. `file` generator) due to it being developed and tested on *nix only (MacOS, Linux).

As a first step we should run some basic tests on a Windows machine.

**TODO**
- [ ] Install `fakedata` on windows
- [ ] Test generators like `file`
- [ ] document issues

[2019-01-21 12:47] kevingimbel commented on #67
@lucapette I made a new issue for the windows testing. https://github.com/lucapette/fakedata/issues/69

[2019-02-19 15:21] kevingimbel commented on #69
I've to postpone this to sometime in March. I'm too occupied at the moment.

[2021-04-03 20:01] bl-ue commented on #22
Wow, no progress since 2017? 👀

[2022-02-19 10:38] #54 closed

[2022-03-25 19:12] lucapette commented on #69
Closing this for now as I'm assuming @KevinGimbel isn't working on it. (Of course please feel free to re-open)

[2022-03-25 19:12] #69 closed

[2022-04-03 18:16] lucapette commented on #22
We have uuidv1 and uuidv4 now. I'll cut a release soon to get them out and we'll improve from there

[2022-04-03 18:16] #22 closed

[2022-04-06 15:52] #58 closed

[2022-10-14 07:38] lucapette opened #72 "Document --stream option"

[2022-10-14 08:03] lucapette opened #73 "Add --header option"
[code]

vs

[code]

It should also support generator renaming (we use it in the SQL formatter)

[2022-10-17 09:23] lucapette opened #74 "Introduce ndjson format"
I'm thinking support for ndjson would be nice for practical purposes:

[code]

it would use the same convention as the SQL formatter to rename fields:

[code]

I would not try to support nested JSON because there's not a nice syntax for that and templates do support the use case already

[2022-10-18 18:58] #73 closed

[2022-10-18 19:08] #72 closed

[2022-10-24 16:42] #24 closed

[2022-10-25 08:01] #74 closed

[2022-10-26 14:31] lucapette commented on #57
I just merged #78 which makes this a little easier (and makes me consider it done). You can now do this:

[code]

Which seems good enough for the use case. In case it doesn't work, please do reopen

[2022-10-26 14:31] #57 closed

[2022-10-31 06:47] lucapette opened #79 "Add phone number generator"
https://en.wikipedia.org/wiki/E.164

[2022-11-03 11:09] kry00la opened #80 "lorem ipsum generator"
Hello it would be nice to have such generator too.
https://en.wikipedia.org/wiki/Lorem_ipsum

[2022-11-03 11:16] lucapette commented on #80
Ah! Lovely idea :) Not sure why I never thought about it.

I will get it done soon (unless you want to give it a try yourself. In that case, let me know and I'll assign it to you. No strings attached!)

[2022-11-15 16:11] ShivamJoker commented on #79
I also want this :)

[2022-11-15 16:13] ShivamJoker opened #81 "Publish package on AUR (arch linux user repo)"
It will be great to have this on aur

[2022-11-17 07:00] lucapette commented on #81
@ShivamJoker thank you! I appreciate the offer.

I'm not familiar with AUR. I just skimmed their docs to gather some context so take the following with a grain of salt (and please do correct me if I'm wrong).

As I understand it, goreleaser can publish the package but I'd have to registry myself/the project on AUR which means it's a little hard for you to contribute on this one? (I don't mean to p

[2022-11-17 07:02] ShivamJoker commented on #81
Anyone can publish the package with permission but yeah, It would be better if you create an account and publish it.

I can help with the aur script and testing.

[2022-11-17 07:04] lucapette commented on #79
@ShivamJoker good to hear! Makes me want to build it faster :)

I didn't get to this yet as I'm not sure too sure about the UI of the command. What I thought we'd do is something like:

[code]

Did you have something else in mind?

[2022-11-17 07:05] lucapette commented on #81
OK, thank you! I'll ping this issue when I've got something going so we can test it together 💪

[2022-11-17 07:11] ShivamJoker commented on #79
This looks good but it would be great if we could also have a  phone number without the country code, something like

[code]

I am not sure how it will work though we can have some arguments like `--no-seprator`

[2022-11-17 07:14] ShivamJoker commented on #81
Perfect thanks 🙌

[2022-11-17 07:55] lucapette commented on #79
ah! Nice :) I didn't think about the `fakedata phone.local` option. To control the number of digits, we'd use "constraints" like we do for [int](https://github.com/lucapette/fakedata/#int) for example.

So it would look like this:

[code]

I don't _love_ the syntax (nor the naming "constraints", probably a simple "options" would do) but it's a little tricky to come up with something better (taking